#myImage {
	width:14%;
	height:14%;
	float:right !important;
}
#compass {
	position:relative;
	left:100px;
	transform:rotate(0deg); /* in case someone creates a compliant browser */
	-ms-transform:rotate(0deg); /* WP7 */
	-webkit-transform:rotate(0deg); /* iOS and Android */

}
#storFt {
	padding:7px;
}
#geoFt {
	padding:7px;
}